CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
!include/zstd/Makefile
cmake_install.cmake
build/
build*/
*-build/
Testing/
build-support/boost_*
test_*.cmake
*_tests.cmake
*_include.cmake
bench_*.cmake
bench_*.hpp
*.csv
*.bin
.idea/
.cmake/
_deps/

# Build directories created by Clion
cmake-build-*/

#########################################
# Editor temporary/working/backup files #
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.kdev4
*.log
*.swp

#########################################
# ignore tmp directory
tmp

######################################### from the fls_benchamrks integration
.vagrant/
compile_commands.json
*.pdf
plot/*.log
plot/*.tex
.Rhistory

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test/data/wrong/merged_2DWSD_2min_ALL.csv
test/data/big/merged_data.csv
